.gridContainer {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas:
        "input ast"
        "input latex";
}

@media (max-width: 784px) {
    .gridContainer {
        grid-template-areas: "input" "ast" "latex";
        grid-template-columns: 1fr;
    }
}

.tutorialContainer {
    width: min(80ch, 100%);
    margin-inline: auto;
}
