.button {
    @media (prefers-color-scheme: dark) {
        --button-color: lab(15.204 0 -0.00000596046);
    }

    @media (prefers-color-scheme: light) {
        --button-color: lab(96.52 -0.0000298023 0.0000119209);
    }

    background-color: var(--button-color);
    padding: var(--space-sm);
    border-radius: var(--radius-md);
    color: var(--color-text);
    border: none;
    outline: none;

    &:hover {
        background-color: color-mix(in oklab, var(--color-background), white 30%);
    }

    &:focus {
        outline: 1px solid oklab(0.555999 -0.00000530481 0.000012964 / 0.5);
    }

    &.primaryButton {
        &:hover {
            background-color: color-mix(in oklab, var(--color-secondary), black 30%);
        }

        background-color: var(--color-secondary);
    }
}
