.gridcontainer {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas:
        "input ast"
        "input latex";
    height: 100%;
}

@media (max-width: 784px) {
    .gridcontainer {
        grid-template-areas: "input" "ast" "latex";
        grid-template-columns: 1fr;
    }
}
