.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--space-lg);
}

.diffcontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--space-md)
}
