.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    flex-wrap: wrap;
    gap: var(--space-md);
    margin-block: var(--space-md)
}

.diffcontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--space-md)
}

.valuecontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--space-md);
    margin-left: var(--space-lg);
}

.evalcontainer {
    display: flex;
    flex-direction: column;
    gap: var(--space-sm)
}
