.card {
    display: flex;
    flex-direction: column;
    gap: var(--space-lg);
    position: relative;

    padding: var(--space-md);
    margin: var(--space-md);

    @media (prefers-color-scheme: dark) {
        --card-color: lab(7.78201 -0.0000149012 0);
    }

    @media (prefers-color-scheme: light) {
        --card-color: white;
    }

    background-color: var(--card-color);
    box-shadow: 3px 3px 10px rgba(10, 10, 10, 0.5);

    border-radius: var(--radius-lg);
    border: 1px solid lab(100 0 0 / 0.1);
    border-top: 4px solid var(--color-accent);
}

.cardTitle {
    color: color-mix(in oklab, var(--color-accent), white 30%);
}

.cardContainer {
    margin: var(--space-sm)
}
